@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background: transparent;
  overflow: hidden;
  font-family: "Inter";
}
.container {
  position: fixed;
  bottom: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.keystroke {
  display: flex;
  gap: 10px;
  animation: fadeInOut 1.2s ease;
}

.key {
  padding: 14px 18px;
  background: rgba(30, 30, 30, 0.95);
  color: white;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 15px;
  font-weight: 500;
  backdrop-filter: blur(38px);
}

.drag {
  -webkit-app-region: drag;
}

/* animation like KeyCastr */
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.95);
  }
  20% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
  }
}
